@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
	<title>Delays Menu</title>
	<style type="text/css">
		.container {
			display: flex;
			justify-content: center;
			align-items: center;
		}
		.btn {
			border-radius: 10px;
			display: inline-block;
			position: relative;
			width: 400px;
			height: 500px;
			margin: 0 20px;
			overflow: hidden;
			cursor: pointer;
		}
		.btn img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			transition: transform .5s;
		}
		.btn:hover img {
			transform: scale(1.2);
		}
		.btn .caption {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			padding: 10px;
			box-sizing: border-box;
			background-color: rgba(0,0,0,.7);
			color: #fff;
			font-size: 20px;
			font-weight: bold;
			text-align: center;
			transition: bottom .5s;
		}
		body {
            background-image: url("https://static.vecteezy.com/system/resources/thumbnails/010/355/126/original/lens-flare-bright-afternoon-sun-with-lens-flare-lens-flare-transition-light-effect-lens-flare-effect-on-black-background-light-streaks-lights-optical-lens-flares-free-video.jpg");
            background-size: cover;
        }
		.btn:hover .caption {
			bottom: -40px;
		}
		.white-border {
        border: 5px solid white;
        }
		.fade-in {
		opacity: 0;
		transition: opacity 1s ease-in-out;
		}
		.menu-container {
		position: relative;
		width: 100%;
		height: 100%;
		}

		.menu-banner {
		position: relative;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -20%);
		background-color: rgba(255, 255, 255, 0.5);
		padding: 5px;
		border-radius: 10px;
		text-align: center;
		font-family: 'Arial', sans-serif;
		font-size: 20px;
		color: #fff;
		text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
		}
	</style>
</head>
<body>
	<div class="menu-container fade-in" id="banner1">
  <div class="menu-banner">
    <h1>Delays Menu</h1>
  </div>
	<div class="container">
		<a id="button1" href="/Main/TubeDelays" class="btn" onmouseover="hoverDiv(this)">
			<img src="https://www.mummytravels.com/wp-content/uploads/2018/01/london-underground-sign-roundel-Depositphotos310789432s.jpg" alt="Tube Delays">
			<div class="caption">Tube Delays</div>
		</a>
		<a id="button2" href="/Main/RoadDelays" class="btn" onmouseover="hoverDiv(this)">
			<img src="https://i2-prod.mylondon.news/incoming/article26365033.ece/ALTERNATES/s1200c/0_GettyImages-1242599016.jpg" alt="Road Traffic Updates">
			<div class="caption">Road Traffic Updates</div>
		</a>
	</div>
	<script>
  let currentHoveredDiv = null;
  
  function hoverDiv(div) {
    if (currentHoveredDiv !== null) {
      currentHoveredDiv.classList.remove("white-border");
    }
    div.classList.add("white-border");
    currentHoveredDiv = div;
  }

  var banner1 = document.getElementById('banner1');
var button1 = document.getElementById('button1');
var button2 = document.getElementById('button2');

// Fade in button 1
setTimeout(function() {
  banner1.style.opacity = '1';
}, 500);

setTimeout(function() {
  button1.style.opacity = '1';
}, 1000);

// Fade in button 2 after button 1
setTimeout(function() {
  button2.style.opacity = '1';
}, 1500);

</script>
</body>
</html>
