@{
    ViewData["Title"] = "Tube Delays";
}

<!DOCTYPE html>
<html>
<head>
    <title>Tube Delays</title>
    
    <style>
        .expandable-button {
            border-radius: 10px;
            position: relative;
            display: inline-block;
            width: 400px;
            height: 550px;
            margin: 20px;
            overflow: hidden;
        }

        .btn {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #008CBA;
            color: white;
            border: none;
            outline: none;
            cursor: pointer;
            transition: transform .5s;
        }
        .btn img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			transition: transform .5s;
		}
		.btn .caption {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			padding: 10px;
			box-sizing: border-box;
			background-color: rgba(0,0,0,.7);
			color: #fff;
			font-size: 20px;
			font-weight: bold;
			text-align: center;
			transition: bottom .5s;
		}

        .details {
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            background-color: rgba(250,250,250,.9);
            padding: 10px;
            box-sizing: border-box;
            transition: top .5s;
        }

        .expandable-button:hover .details {
            top: 0;
        }
        .white-border {
        border: 5px solid white;
        }
        body {
            background-image: url("https://static.vecteezy.com/system/resources/thumbnails/010/355/126/original/lens-flare-bright-afternoon-sun-with-lens-flare-lens-flare-transition-light-effect-lens-flare-effect-on-black-background-light-streaks-lights-optical-lens-flares-free-video.jpg");
            background-size: cover;
        }
        @@keyframes fadein {
        from { opacity: 0; }
        to { opacity: 1; }
        }
        .fade-in {
		opacity: 0;
		transition: opacity 1s;
        animation: fadein 1s forwards;
		}
		.menu-container {
		position: relative;
		width: 100%;
		height: 100%;
		}

		.menu-banner {
		position: relative;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -20%);
		background-color: rgba(255, 255, 255, 0.5);
		padding: 5px;
		border-radius: 10px;
		text-align: center;
		font-family: 'Arial', sans-serif;
		font-size: 36px;
		color: #fff;
		text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
		}
        .container {
			display: flex;
			justify-content: center;
			align-items: center;
		}
    </style>
</head>
<body>
    <div class="menu-container fade-in">
  <div class="menu-banner">
    <h1>Tube Delays</h1>
  </div>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBQQt8trjabz9yVcV94xOX7riph4bljagg" type="text/javascript"></script>
    <script>
        var closures = '@ViewData["close"]';
        closures = JSON.parse(closures);
        var severes = '@ViewData["seve"]';
        severes = JSON.parse(severes);
        var minors = '@ViewData["mino"]';
        minors = JSON.parse(minors);
        var md = document.createElement('div');
        md.classList.add('container');

        makeDivs(closures, 'Planned Closures', "https://i.dailymail.co.uk/1s/2022/02/21/00/54439359-10533757-A_closed_sign_is_set_up_outside_the_turnstiles_at_a_train_statio-a-34_1645404940882.jpg", md);
        makeDivs(severes, 'Severe Delays', "https://www.cityam.com/wp-content/uploads/2018/10/tube-trains-5bc6f52cbcd37.jpg", md);
        makeDivs(minors, 'Minor Delays', "https://static.standard.co.uk/s3fs-public/thumbnails/image/2016/08/11/12/centralline-1.jpg", md);
        function makeDivs(locations, captionTxt, imagesrc, md) {

                    // Create the outer div element

            var expandableDiv = document.createElement('div');
            expandableDiv.classList.add('expandable-button');
            expandableDiv.classList.add('fade-in');

            // Create the button element
            var button = document.createElement('button');
            button.classList.add('btn');
            const img = document.createElement("img");
            const caption = document.createElement('div');
            caption.classList.add('caption')
            caption.innerText = captionTxt;

            // Append the caption to the button

            img.src = imagesrc;
            img.alt = "Button Image";

            button.appendChild(img);
            button.appendChild(caption);

            // Create the details div element
            var detailsDiv = document.createElement('div');
            detailsDiv.classList.add('details');

            // Create the unordered list element
            var unorderedList = document.createElement('ul');
            for (i = 0; i < locations.length; i++) {  
                var lit = document.createElement('li');
                var dsc = "";
                dsc = dsc.concat("Line: ", locations[i]["LineName"], ", Reason: ", locations[i]["PlatformName"])
                lit.textContent = dsc;
                unorderedList.appendChild(lit);
            };

            // Append the paragraph and unordered list to the details div
            detailsDiv.appendChild(unorderedList);

            // Append the button and details div to the outer div
            expandableDiv.appendChild(button);
            expandableDiv.appendChild(detailsDiv);
            expandableDiv.classList.add('white-border');

            // Append the outer div to the body of the page
            md.appendChild(expandableDiv);
        }
        document.body.appendChild(md);

        
    </script>
</body>
</html>